.icon-bag-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -110px -1385px;
width: 91px;
height: 85px;
}
.icon-bag-10 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -1088px;
width: 118px;
height: 118px;
}
.icon-bag-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -157px -863px;
width: 88px;
height: 56px;
}
.icon-bag-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -285px -1500px;
width: 62px;
height: 82px;
}
.icon-bag-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -246px -1226px;
width: 103px;
height: 78px;
}
.icon-bag-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -1500px;
width: 80px;
height: 100px;
}
.icon-bag-6 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -1226px;
width: 93px;
height: 139px;
}
.icon-bag-7 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -369px -1226px;
width: 81px;
height: 74px;
}
.icon-bag-8 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -100px -1500px;
width: 77px;
height: 89px;
}
.icon-bag-9 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -1385px;
width: 90px;
height: 95px;
}
.icon-box-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -946px -1088px;
width: 110px;
height: 67px;
}
.icon-box-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -810px -1088px;
width: 116px;
height: 70px;
}
.icon-box-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -303px -943px;
width: 121px;
height: 93px;
}
.icon-box-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -113px -1226px;
width: 113px;
height: 87px;
}
.icon-box-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -407px -1088px;
width: 117px;
height: 88px;
}
.icon-box-line {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -592px -284px;
width: 738px;
height: 20px;
}
.icon-box-open-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -680px -1088px;
width: 110px;
height: 77px;
}
.icon-box-open-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -544px -1088px;
width: 116px;
height: 86px;
}
.icon-box-open-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -149px -943px;
width: 134px;
height: 105px;
}
.icon-box-open-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -138px -1088px;
width: 113px;
height: 110px;
}
.icon-box-open-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -271px -1088px;
width: 116px;
height: 106px;
}
.icon-d-title-bg {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -394px -332px;
width: 475px;
height: 92px;
}
.icon-float-qr-hover {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -943px;
width: 129px;
height: 125px;
}
.icon-g-title-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1016px -774px;
width: 266px;
height: 65px;
}
.icon-g-title-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -444px -774px;
width: 266px;
height: 65px;
}
.icon-g-title-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -730px -774px;
width: 266px;
height: 65px;
}
.icon-gf-act {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -619px -943px;
width: 151px;
height: 64px;
}
.icon-gf-no-act {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -444px -943px;
width: 155px;
height: 68px;
}
.icon-isreceive {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1565px -213px;
width: 177px;
height: 32px;
}
.icon-jxwy-big-text {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1302px -774px;
width: 283px;
height: 58px;
}
.icon-jxwy-big {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px 0px;
width: 572px;
height: 312px;
}
.icon-jxwy-h2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -733px -480px;
width: 617px;
height: 48px;
}
.icon-jxwy-small {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -332px;
width: 374px;
height: 128px;
}
.icon-k4-subtitle-g1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -440px -726px;
width: 399px;
height: 22px;
}
.icon-k4-subtitle-g2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -859px -726px;
width: 399px;
height: 22px;
}
.icon-k4-subtitle-g3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1372px -662px;
width: 401px;
height: 22px;
}
.icon-k4-subtitle-g4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1278px -726px;
width: 399px;
height: 22px;
}
.icon-k4-subtitle-g5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -940px -662px;
width: 412px;
height: 22px;
}
.icon-k4-title-g1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -880px -550px;
width: 420px;
height: 92px;
}
.icon-k4-title-g2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -440px -550px;
width: 420px;
height: 92px;
}
.icon-k4-title-g3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -662px;
width: 420px;
height: 92px;
}
.icon-k4-title-g4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -550px;
width: 420px;
height: 92px;
}
.icon-k4-title-g5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1320px -550px;
width: 420px;
height: 92px;
}
.icon-link {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -774px;
width: 137px;
height: 149px;
}
.icon-lock {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1605px -774px;
width: 177px;
height: 32px;
}
.icon-num-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1315px -403px;
width: 81px;
height: 21px;
}
.icon-num-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1107px -403px;
width: 84px;
height: 21px;
}
.icon-num-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1003px -403px;
width: 84px;
height: 21px;
}
.icon-num-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1211px -403px;
width: 84px;
height: 21px;
}
.icon-num-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -889px -403px;
width: 94px;
height: 21px;
}
.icon-num-top-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1653px -403px;
width: 25px;
height: 21px;
}
.icon-num-top-10 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1607px -403px;
width: 26px;
height: 21px;
}
.icon-num-top-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1764px -332px;
width: 28px;
height: 21px;
}
.icon-num-top-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1716px -332px;
width: 28px;
height: 21px;
}
.icon-num-top-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1512px -403px;
width: 28px;
height: 21px;
}
.icon-num-top-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1416px -403px;
width: 28px;
height: 21px;
}
.icon-num-top-6 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1560px -403px;
width: 27px;
height: 21px;
}
.icon-num-top-7 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1464px -403px;
width: 28px;
height: 21px;
}
.icon-num-top-8 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1762px -142px;
width: 28px;
height: 21px;
}
.icon-num-top-9 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1762px -213px;
width: 28px;
height: 21px;
}
.icon-pc-download {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1370px -480px;
width: 308px;
height: 36px;
}
.icon-pri-item-13 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -329px -1385px;
width: 86px;
height: 79px;
}
.icon-pri-item-14 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -221px -1385px;
width: 88px;
height: 80px;
}
.icon-pri-item-15 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -88px -1620px;
width: 48px;
height: 84px;
}
.icon-pri-item-16 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -1620px;
width: 68px;
height: 92px;
}
.icon-pri-item-17 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -197px -1500px;
width: 68px;
height: 82px;
}
.icon-pri-item-18 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -435px -1385px;
width: 62px;
height: 72px;
}
.icon-pri-item-19 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1715px -71px;
width: 74px;
height: 44px;
}
.icon-pri-item-20 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -470px -1226px;
width: 76px;
height: 68px;
}
.icon-pri-item-21 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -517px -1385px;
width: 62px;
height: 72px;
}
.icon-pri-item-22 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1622px -332px;
width: 74px;
height: 44px;
}
.icon-pri-item-23 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1076px -1088px;
width: 61px;
height: 67px;
}
.icon-pri-item-24 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -265px -863px;
width: 80px;
height: 55px;
}
.icon-public-btn {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -157px -774px;
width: 267px;
height: 69px;
}
.icon-rule {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1698px -480px;
width: 20px;
height: 22px;
}
.icon-text2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -440px -662px;
width: 480px;
height: 44px;
}
.icon-title-1 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -592px 0px;
width: 1203px;
height: 51px;
}
.icon-title-2 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -592px -71px;
width: 1103px;
height: 51px;
}
.icon-title-3 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -592px -213px;
width: 953px;
height: 51px;
}
.icon-title-4 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -592px -142px;
width: 953px;
height: 51px;
}
.icon-title-5 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -889px -332px;
width: 713px;
height: 51px;
}
.icon-title-6 {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: 0px -480px;
width: 713px;
height: 50px;
}
.icon-top {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -790px -943px;
width: 67px;
height: 59px;
}
.icon-unlock {
    display: inline-block;
    background-image: url(../img/sprite.png);
background-position: -1565px -142px;
width: 177px;
height: 32px;
}
